/* Colors

light --- #edf2f4
mid --- #8d99ae
dark --- #2b2d42
accent --- #ef233c

*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

h1{ 
    font-weight: 700;
    font-size: 3rem;
}

h2{
    font-weight: 300;
    font-size: 1.5rem;
}

.avatar{
    width: 30%;
    max-width: 250px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #8d99ae;
}

.text-container{
    width: 30%;
    max-width: 350px;
    text-align: center;
}

.connect{
    width: 30%;
    max-width: 300px;
    font-size: 1.5rem;;
}

.icon{
    width: 60%;
    background-color: #8d99ae;
    border-radius: 20%;
}

.icon:hover{
    outline: .15em outset #edf2f4;
    opacity: 20;
    cursor: pointer;

}
.social-links{
    padding: .5em;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2b2d42;
    color: #edf2f4;
    padding: 50px 20px;
    text-align: center;
}

.top-section{
    display: flex;
    justify-content: center;    
    background-color: #8d99ae;
    color: #2b2d42;
    height: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    max-width: 800px;   
}

.section-title{
    margin: 10;
    text-align: center;
    padding: .5em;  
    border-top: 1px solid #2b2d42;
    border-bottom: 1px solid #2b2d42;    
}

article{
    line-height: 2rem;
    font-size: 1.5rem;
}

#medium-link{
    text-decoration: none;
    cursor: pointer;
    color: #ef233c;
}

#medium-link:hover {
    cursor: pointer;
    background-color: #ef233c;
    color: #2b2d42;
    padding: 2px;
}

.mid-section{
    display: flex;
    justify-content: center;   
    background-color: #edf2f4;
    color: #2b2d42;
    height: 500px;
}

.project-name{
    font-size: 1rem;
}

.project-card{
    width: 33%; 
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1em;
}

.project-section{
    display: flex;
    justify-content: space-around;
}

.project-img{
    width: 85%;
    max-width: 250px;
    cursor: pointer;
    filter: grayscale(100);
}

.project-img:hover{
    filter: grayscale(0);
}

.bottom-section{
    display: flex;
    justify-content: center;   
    background-color: #2b2d42;
    color: #edf2f4;
    height: 400px;
}

.bottom-section-title{
    margin: 10;
    text-align: center;
    padding: 10px;  
    border-top: 1px solid #edf2f4;
    border-bottom: 1px solid #edf2f4;    
}

.skills-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.bottom-icon{
    width: 60%;
    max-width: 150px;
    background-color: #8d99ae;
    border-radius: 20%;
}

.bottom-icon:hover{
    outline: .15em outset #edf2f4;
    opacity: 20;
    cursor: pointer;

}
