/* Colors

light --- #edf2f4
mid --- #8d99ae
dark --- #2b2d42
accent --- #ef233c

*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 51px;
    font-weight: 700;
}

h2{
    font-size: 24px;
    font-weight: 300;
}

p{
    font-size: 20px;
}   

.avatar{
    min-width: 75px;
    max-height: 250px;  
    border-radius: 5%;
    box-shadow: 5px 5px 5px #8d99ae;
}

.text-container{
    min-width: 400px;
    text-align: center;
}

.connect{
    width: 300px;
}

.icon{
    width: 50px;
    background-color: #8d99ae;
    border-radius: 20%;
}

.icon:hover{
    outline: 2px outset #edf2f4;
    opacity: 20;
    cursor: pointer;

}
.social-links{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2b2d42;
    color: #edf2f4;
    padding: 50px 20px;
    text-align: center;
}

.top-section{
    display: flex;
    justify-content: center;    
    background-color: #8d99ae;
    color: #2b2d42;
    height: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 800px;   
}

.section-title{
    margin: 10;
    text-align: center;
    padding: 30px;  
    border-top: 1px solid #2b2d42;
    border-bottom: 1px solid #2b2d42;    
}

article{
    line-height: 24px;
}

#medium-link{
    text-decoration: none;
    cursor: pointer;
    color: #ef233c;
}

#medium-link:hover {
    cursor: pointer;
    background-color: #ef233c;
    color: #2b2d42;
    padding: 2px;
}

.mid-section{
    display: flex;
    justify-content: center;   
    background-color: #edf2f4;
    color: #2b2d42;
    height: 500px;
}

.project-card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    border: 2px solid #2b2d42;  
}

.project-section{
    display: flex;
    justify-content: space-around;
}

.project-img{
    max-width: 250px;
    cursor: pointer;
    filter: grayscale(100);
}

.project-img:hover{
    filter: grayscale(0);
}

.bottom-section{
    display: flex;
    justify-content: center;   
    background-color: #2b2d42;
    color: #edf2f4;
    height: 200px;
}

.bottom-section-title{
    margin: 10;
    text-align: center;
    padding: 10px;  
    border-top: 1px solid #edf2f4;
    border-bottom: 1px solid #edf2f4;    
}

.skills-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
